In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

In [5]:
df["PoolQC"] = df["PoolQC"].fillna(0)
df["ExterQual"] = df["ExterQual"].fillna(0)
df["ExterCond"] = df["ExterCond"].fillna(0)
df["BsmtQual"] = df["BsmtQual"].fillna(0)
df["BsmtCond"] = df["BsmtCond"].fillna(0)
df["HeatingQC"] = df["HeatingQC"].fillna(0)
df["KitchenQual"] = df["KitchenQual"].fillna(0)
df["FireplaceQu"] = df["FireplaceQu"].fillna(0)
df["GarageQual"] = df["GarageQual"].fillna(0)
df["GarageCond"] = df["GarageCond"].fillna(0)

In [6]:
df = df.replace("Ex", 5)
df = df.replace("Gd", 4)
df = df.replace("TA", 3)
df = df.replace("Fa", 2)
df = df.replace("Po", 1)

In [7]:
df.dtypes.value_counts()

int64      45
object     33
float64     3
dtype: int64

In [8]:
df["CentralAir"] = df["CentralAir"].replace("Y", 1)
df["CentralAir"] = df["CentralAir"].replace("N", 0)
df["CentralAir"].value_counts() #YES or No variable

1    1365
0      95
Name: CentralAir, dtype: int64

In [9]:
df.dtypes.value_counts()

int64      46
object     32
float64     3
dtype: int64

In [10]:
#df["PoolQC"].value_counts()
#df["ExterQual"].value_counts()
#df["ExterCond"].value_counts()
#df["BsmtQual"].value_counts()
#df["BsmtCond"].value_counts()
#df["HeatingQC"].value_counts()
#df["CentralAir"].value_counts() #YES or No variable
#df["KitchenQual"].value_counts()
#df["FireplaceQu"].value_counts()
#df["GarageQual"].value_counts()
#df["GarageCond"].value_counts()

In [11]:
#please, KEEP IT as they are useful
#print(df.groupby('Street')['SalePrice'].mean())
#df["Street"].unique()
#plt.bar(['Grvl', 'Pave'], df.groupby('Street')['SalePrice'].mean())
#plt.scatter(df['PoolQC'], df['SalePrice'])

#df[df["ExterCond"] != 1]
#np.corrcoef(df["ExterQual"], df["ExterCond"])
#plt.scatter(df["ExterQual"], df["ExterCond"])

In [12]:
homedata_onehot = pd.get_dummies(df, columns=['Foundation', 'GarageFinish', 'LandSlope', 'LotConfig', 'GarageQual',
 'GarageCond', 'LandContour', 'Utilities', 'GarageType', 'LotShape', 'Alley',
 'Street', 'PoolQC', 'Fence', 'MiscFeature', 'MSZoning', 'SaleType',
 'PavedDrive', 'FireplaceQu', 'Condition1', 'Functional', 'BsmtQual',
 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'ExterQual', 'BsmtFinType2',
 'MasVnrType', 'Exterior2nd', 'Heating', 'Neighborhood', 'SaleCondition',
 'Electrical', 'Exterior1st', 'RoofMatl', 'RoofStyle', 'HouseStyle', 'BldgType',
 'Condition2', 'KitchenQual', 'ExterCond', 'CentralAir', 'HeatingQC'])

In [13]:
homedata_onehot.dtypes.value_counts()

uint8      258
int64       35
float64      3
dtype: int64

In [14]:
homedata_onehot.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,ExterCond_3,ExterCond_4,ExterCond_5,CentralAir_0,CentralAir_1,HeatingQC_1,HeatingQC_2,HeatingQC_3,HeatingQC_4,HeatingQC_5
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,1,0,0,0,1,0,0,0,0,1
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,1,0,0,0,1,0,0,0,0,1
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,1,0,0,0,1,0,0,0,0,1
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,1,0,0,0,1,0,0,0,1,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,1,0,0,0,1,0,0,0,0,1

In [15]:
NA = pd.DataFrame(columns=['Column',
                  'perc_NA'])
for column in homedata_onehot.columns:
    NA = NA.append({'Column' : column, 'perc_NA' : sum(homedata_onehot[column].isna())/len(homedata_onehot)}, ignore_index=True)

In [16]:
NA.sort_values('perc_NA', ascending=False)

                    Column   perc_NA
2              LotFrontage  0.177397
25             GarageYrBlt  0.055479
8               MasVnrArea  0.005479
0                       Id  0.000000
196    Neighborhood_BrDale  0.000000
202   Neighborhood_Gilbert  0.000000
201   Neighborhood_Edwards  0.000000
200   Neighborhood_Crawfor  0.000000
199   Neighborhood_CollgCr  0.000000
198   Neighborhood_ClearCr  0.000000
197   Neighborhood_BrkSide  0.000000
195   Neighborhood_Blueste  0.000000
204   Neighborhood_MeadowV  0.000000
194   Neighborhood_Blmngtn  0.000000
193           Heating_Wall  0.000000
192           Heating_OthW  0.000000
191           Heating_Grav  0.000000
190           Heating_GasW  0.000000
189           Heating_GasA  0.000000
203    Neighborhood_IDOTRR  0.000000
206     Neighborhood_NAmes  0.000000
205   Neighborhood_Mitchel  0.000000
187    Exterior2nd_Wd Shng  0.000000
221   SaleCondition_Alloca  0.000000
220  SaleCondition_AdjLand  0.000000
219  SaleCondition_Abnorml  0.000000
218   Neighborhood_Veenker  0.000000
217    Neighborhood_Timber  0.000000
216   Neighborhood_StoneBr  0.000000
215   Neighborhood_Somerst  0.000000
..                     ...       ...
89                PoolQC_4  0.000000
88                PoolQC_2  0.000000
87                PoolQC_0  0.000000
85             Street_Grvl  0.000000
94              Fence_MnWw  0.000000
84              Alley_Pave  0.000000
83              Alley_Grvl  0.000000
82            LotShape_Reg  0.000000
81            LotShape_IR3  0.000000
80            LotShape_IR2  0.000000
79            LotShape_IR1  0.000000
93             Fence_MnPrv  0.000000
95        MiscFeature_Gar2  0.000000
111           SaleType_Oth  0.000000
104           SaleType_COD  0.000000
110           SaleType_New  0.000000
109         SaleType_ConLw  0.000000
108         SaleType_ConLI  0.000000
107         SaleType_ConLD  0.000000
106           SaleType_Con  0.000000
105           SaleType_CWD  0.000000
103            MSZoning_RM  0.000000
96        MiscFeature_Othr  0.000000
102            MSZoning_RL  0.000000
101            MSZoning_RH  0.000000
100            MSZoning_FV  0.000000
99        MSZoning_C (all)  0.000000
98        MiscFeature_TenC  0.000000
97        MiscFeature_Shed  0.000000
295            HeatingQC_5  0.000000

[296 rows x 2 columns]

In [17]:
#homedata_onehot['LotFrontage'].value_counts()
print(sum(homedata_onehot['LotFrontage'].isna()))
homedata_onehot['LotFrontage'].mean()

259

70.04995836802665

In [18]:
homedata_onehot['LotFrontage'] = homedata_onehot['LotFrontage'].fillna(70.04995836802665)
print(sum(homedata_onehot['LotFrontage'].isna()))
homedata_onehot['LotFrontage'].mean()

0

70.04995836802642

In [19]:
#homedata_onehot['GarageYrBlt'].value_counts()
print(sum(homedata_onehot['GarageYrBlt'].isna()))
#homedata_onehot['GarageYrBlt'].mean()

81

In [20]:
same_count=0
diff_count=0
total_diff = 0
for i, x in zip(homedata_onehot['YearBuilt'],homedata_onehot['GarageYrBlt']):
    if np.isnan(x):
        continue
    else:
        if i == x:
            same_count+=1
        else:
            diff_count+=1
            total_diff= total_diff+(x-i)
        
print('same count:', same_count)
print('diff_count:', diff_count)
print('avg diff:', total_diff/diff_count)
print(same_count/(same_count+diff_count))
print(1-(same_count/(same_count+diff_count)))
print(81*0.79)
print(81*0.21)

same count: 1089
diff_count: 290
avg diff: 26.379310344827587
0.7897026831036983
0.2102973168963017
63.99
17.009999999999998

In [23]:
homedata_onehot['GarageYrBlt'] = homedata_onehot['YearBuilt']

In [29]:
print(sum(homedata_onehot['MasVnrArea'].isna()))
homedata_onehot['MasVnrArea'] = homedata_onehot['MasVnrArea'].fillna(0)

8

In [31]:
NA = pd.DataFrame(columns=['Column',
                  'perc_NA'])
for column in homedata_onehot.columns:
    NA = NA.append({'Column' : column, 'perc_NA' : sum(homedata_onehot[column].isna())/len(homedata_onehot)}, ignore_index=True)
NA.sort_values('perc_NA', ascending=False)

                    Column  perc_NA
0                       Id      0.0
203    Neighborhood_IDOTRR      0.0
201   Neighborhood_Edwards      0.0
200   Neighborhood_Crawfor      0.0
199   Neighborhood_CollgCr      0.0
198   Neighborhood_ClearCr      0.0
197   Neighborhood_BrkSide      0.0
196    Neighborhood_BrDale      0.0
195   Neighborhood_Blueste      0.0
194   Neighborhood_Blmngtn      0.0
193           Heating_Wall      0.0
192           Heating_OthW      0.0
191           Heating_Grav      0.0
190           Heating_GasW      0.0
189           Heating_GasA      0.0
188          Heating_Floor      0.0
187    Exterior2nd_Wd Shng      0.0
202   Neighborhood_Gilbert      0.0
204   Neighborhood_MeadowV      0.0
1               MSSubClass      0.0
205   Neighborhood_Mitchel      0.0
220  SaleCondition_AdjLand      0.0
219  SaleCondition_Abnorml      0.0
218   Neighborhood_Veenker      0.0
217    Neighborhood_Timber      0.0
216   Neighborhood_StoneBr      0.0
215   Neighborhood_Somerst      0.0
214   Neighborhood_SawyerW      0.0
213    Neighborhood_Sawyer      0.0
212     Neighborhood_SWISU      0.0
..                     ...      ...
86             Street_Pave      0.0
85             Street_Grvl      0.0
84              Alley_Pave      0.0
83              Alley_Grvl      0.0
82            LotShape_Reg      0.0
81            LotShape_IR3      0.0
80            LotShape_IR2      0.0
79            LotShape_IR1      0.0
78       GarageType_Detchd      0.0
77      GarageType_CarPort      0.0
76      GarageType_BuiltIn      0.0
91             Fence_GdPrv      0.0
92              Fence_GdWo      0.0
93             Fence_MnPrv      0.0
102            MSZoning_RL      0.0
108         SaleType_ConLI      0.0
107         SaleType_ConLD      0.0
106           SaleType_Con      0.0
105           SaleType_CWD      0.0
104           SaleType_COD      0.0
103            MSZoning_RM      0.0
101            MSZoning_RH      0.0
94              Fence_MnWw      0.0
100            MSZoning_FV      0.0
99        MSZoning_C (all)      0.0
98        MiscFeature_TenC      0.0
97        MiscFeature_Shed      0.0
96        MiscFeature_Othr      0.0
95        MiscFeature_Gar2      0.0
295            HeatingQC_5      0.0

[296 rows x 2 columns]

In [32]:
homedata_onehot.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,ExterCond_3,ExterCond_4,ExterCond_5,CentralAir_0,CentralAir_1,HeatingQC_1,HeatingQC_2,HeatingQC_3,HeatingQC_4,HeatingQC_5
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,1,0,0,0,1,0,0,0,0,1
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,1,0,0,0,1,0,0,0,0,1
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,1,0,0,0,1,0,0,0,0,1
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,1,0,0,0,1,0,0,0,1,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,1,0,0,0,1,0,0,0,0,1