In [91]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [92]:
df = pd.read_csv("train.csv")

In [93]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [94]:
df.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

In [95]:
df["PoolQC"] = df["PoolQC"].fillna(0)
df["ExterQual"] = df["ExterQual"].fillna(0)
df["ExterCond"] = df["ExterCond"].fillna(0)
df["BsmtQual"] = df["BsmtQual"].fillna(0)
df["BsmtCond"] = df["BsmtCond"].fillna(0)
df["HeatingQC"] = df["HeatingQC"].fillna(0)
df["KitchenQual"] = df["KitchenQual"].fillna(0)
df["FireplaceQu"] = df["FireplaceQu"].fillna(0)
df["GarageQual"] = df["GarageQual"].fillna(0)
df["GarageCond"] = df["GarageCond"].fillna(0)

In [96]:
df = df.replace("Ex", 5)
df = df.replace("Gd", 4)
df = df.replace("TA", 3)
df = df.replace("Fa", 2)
df = df.replace("Po", 1)

In [97]:
df.dtypes.value_counts()

int64      45
object     33
float64     3
dtype: int64

In [98]:
df["CentralAir"] = df["CentralAir"].replace("Y", 1)
df["CentralAir"] = df["CentralAir"].replace("N", 0)
df["CentralAir"].value_counts() #YES or No variable

1    1365
0      95
Name: CentralAir, dtype: int64

In [99]:
df.dtypes.value_counts()

int64      46
object     32
float64     3
dtype: int64

In [100]:
#df["PoolQC"].value_counts()
#df["ExterQual"].value_counts()
#df["ExterCond"].value_counts()
#df["BsmtQual"].value_counts()
#df["BsmtCond"].value_counts()
#df["HeatingQC"].value_counts()
#df["CentralAir"].value_counts() #YES or No variable
#df["KitchenQual"].value_counts()
#df["FireplaceQu"].value_counts()
#df["GarageQual"].value_counts()
#df["GarageCond"].value_counts()

In [101]:
#please, KEEP IT as they are useful
#print(df.groupby('Street')['SalePrice'].mean())
#df["Street"].unique()
#plt.bar(['Grvl', 'Pave'], df.groupby('Street')['SalePrice'].mean())
#plt.scatter(df['PoolQC'], df['SalePrice'])

#df[df["ExterCond"] != 1]
#np.corrcoef(df["ExterQual"], df["ExterCond"])
#plt.scatter(df["ExterQual"], df["ExterCond"])